body {
    position: relative;
}
#token-form {
    display: none;
    width: 40%;
    z-index: 9;
    margin-top: 0;
    max-width: 600px;
}
#ga-mask {
    display: none;
    background: #000;
    opacity: 0.7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}
